<form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="regForm">
  <div class="form-wrapper">
    <small class="error" *ngIf="isControlInvalid('username')">
      Имя должно состоять из 6 символов
    </small>
    <small class="error" *ngIf="!(isLoggingIn$ | async)">
      Ошибка сервера: {{ validName }}
    </small>
    <div>
      <label for="Name">Имя</label>
      <input type="text" name="Name" id="reg-name" formControlName="username" />
    </div>

    <small class="error" *ngIf="isControlInvalid('email')">
      Введите корректный email
    </small>
    <small class="error" *ngIf="!(isLoggingIn$ | async)">
      Ошибка сервера: {{ validEmail }}
    </small>
    <label for="Email">Email</label>
    <input type="email" name="Email" id="reg-email" formControlName="email" />

    <small class="error" *ngIf="isControlInvalid('password')">
      Пароль должен состоять из 6 символов и заглавной буквы
    </small>
    <div class="pass-field">
      <label for="Password">Пароль</label>
      <input
        type="password"
        name="Password"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        class="mat-icon-button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </div>
    <button
      class="btn-submit submit"
      [disabled]="regForm.invalid || !(isLoggingIn$ | async)"
      [style.width]="!(isSubmitting$ | async) ? '125px' : '40px'"
    >
      <span *ngIf="!(isSubmitting$ | async)">Регистрация</span>
      <fa-icon
        [icon]="['fas', 'arrows-rotate']"
        [spin]="true"
        *ngIf="isSubmitting$ | async"
      ></fa-icon>
    </button>
  </div>
</form>
