* {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

mat-tab-group {
  display: block;
  margin: 15% auto;
  width: 500px;
  height: 100% !important;
}

::ng-deep.mat-tab-body-wrapper {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

mat-tab {
  width: 300px;
}

::ng-deep.mat-tab-label-content {
  font-size: 21px;
}

.home-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.mat-tab-label-wrapper {
  height: 100%;
}

.mat-tab-label-container {
  position: absolute;
}

::ng-deep.mat-tab-labels {
  display: flex;
  position: relative;
  justify-content: center;
}

::ng-deep.mat-ink-bar {
  visibility: hidden !important;
  // height: 0 !important;
  // bottom: -2px !important;
}

::ng-deep.mat-tab-header {
  border: none !important;
}
